.menu {
    width: 150px;
    height: 150px;
}

.field, .menu {
    position: relative;
    background: #4682b4;
}

.field:hover, #replay:hover {
    background: #55a1e0;
}

.field:active, #replay:active {
    background: #346d9e;
}

.field:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    color: #EEE;
}
